---
title: "Publications"
layout: default
excerpt: "MINi Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<h2>Refereed Journal Articles</h2>
<div class="panel-group" id="accordion1">
    <div class="panel panel-default">

    {% for publi in site.data.refereed-articles %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion1"
               href="#collapse1{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse1{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>
                <img src="{{ site.url }}{{ site.baseurl }}/images/publication/{{ publi.image }}"
                    height="150"/>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<h2>Preprints, Books (chapter), and Technical Reports</h2>
<div class="panel-group" id="accordion2">
    <div class="panel panel-default">

    {% for publi in site.data.preprints-books-reports %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion2"
               href="#collapse2{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse2{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>
                <img src="{{ site.url }}{{ site.baseurl }}/images/publication/{{ publi.image }}"
                    height="150"/>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<h2>Conference Papers</h2>
<div class="panel-group" id="accordion3">
    <div class="panel panel-default">

    {% for publi in site.data.conference-papers %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion3"
               href="#collapse3{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse3{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>
                <img src="{{ site.url }}{{ site.baseurl }}/images/publication/{{ publi.image }}"
                    height="150"/>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<h2>Theses and memoirs</h2>
<div class="panel-group" id="accordion4">
    <div class="panel panel-default">

    {% for publi in site.data.theses-memoirs %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion4"
               href="#collapse4{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.URL %}
                <a href="{{publi.URL}}">LINK</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse4{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>
                <img src="{{ site.url }}{{ site.baseurl }}/images/publication/{{ publi.image }}"
                    height="150"/>

                <a class="btn btn-outline-primary" href="{{publi.URL}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
